<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/f1f56feed8.js"
      crossorigin="anonymous"
    ></script>
    <title>PRODUCT PAGE</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
  </head>
  <link rel="stylesheet" href="styles.css" />
  <body  ng-app="myApp" ng-controller="namesCtrl">
    <!------Nav------>
    <section class="Search">
      <h2 class="section-title">Shop Products</h2>
      <div class="search_box">
        <small><input type="text" placeholder="SEARCH" id="searchbox" ng-model="searchInput"/></small>
        <div id="suggestion-search">
          <ul id="sugg" style="list-style-type: none"></ul>
          <span class="fa fa-search" id="searchicon"></span>
        </div>
          <h3 class="cart-page">
            <a href="Product.html">CART</a><span id="cartCount">0</span>
          </h3>
      </div>
    </section>
    <section class="shop container">
      <div class="shop-content" id="component">

          <!-- <h1 ng-bind="searchInput"></h1>
          <div ng-repeat="x in component | filter:{name : searchInput}" class="product-box">
              <img src="{{x.img}}" alt="{{x.productName}}" class="product-img" />
              <h2 class="product-title">{{x.productName}}</h2>
              <span class="price">${{x.productPrice}}</span>
              <i class="fas fa-shopping-cart add-cart" onClick="addToCart('{{x.productName}}' ,'{{x.productPrice}}')" ></i>
          </div> -->

      </div>
    </section>
  </body>
  <script src="main.js"></script>
  <script>
      const _id = sessionStorage["_id"];
      const psw = sessionStorage["password"];
      const cartCount = document.getElementById("cartCount");
      let component = [];
      const input = document.getElementById("searchbox");

      /* 
        component.push(`
                 <div class="product-box">
                     <img src="${products[i].img}" alt="${products[i].name}" class="product-img" />
                     <h2 class="product-title">${products[i].name}</h2>
                     <span class="price">${products[i].price}</span>
                     <i class="fas fa-shopping-cart add-cart" onClick="addToCart('${products[i].name}', ${products[i].price})" ></i>
                 </div>
               `);
      */

      const cardComponent = ({name, img, qty, price, url}) => `
                                <div class="product-box">
                                    <a href="${url}" target="_blank"><img src="${img}" alt="${name}" class="product-img" /></a>
                                    <h2 class="product-title">${name}</h2>
                                    <span class="price">${price}</span>
                                    <i class="fas fa-shopping-cart add-cart" onClick="addToCart('${name}', ${price})" ></i>
                                </div>
                                `;

                       
      (async function()
      {
        const q = await fetch("http://localhost:9500/items");
        const j = await q.json();
        console.log(j);
        let products = j["product"];
        
        for(let i = 0 ; i < products.length ; i++)
        {
            if (products[i].encoded) {
                products[i].img = 'data:image/png;base64,'+products[i].img
            }
         }
         component = products;

         document.getElementById("component").innerHTML = products.map(cardComponent).join("");

         input.addEventListener("input", (ev) => 
         {
          console.log(ev.target.value);
          ev = ev.target.value.toLowerCase().trim();
          document.getElementById("component").innerHTML = 
              component.filter((e) => {
                 return ev === '' || e.name.toLowerCase().includes(ev)}).map(cardComponent).join("");
        });
      })();

      // const module = angular.module("myApp", []).controller('namesCtrl', function($scope){
      //     $scope.products = []
      //     fetch("http://localhost:9500/items")
      //         .then(e => e.json())
      //           .then(e => {
      //               console.log("Callback load", JSON.stringify(e));
      //               $scope.products = e;
      //             }).catch(err => console.error(error));
      // });

      async function addToCart(prodName='', prodPrice=0){
          if (!_id && prodName) {
            alert("Please Login to Purchase Product!");
            return;
          }
          // console.log(prodName, prodPrice);
          prodPrice = parseInt(prodPrice);
          const fetchResult = await fetch(`http://localhost:9500/myCart?_id=${_id}`);
          const jsonResult = await fetchResult.json();
          console.log(jsonResult);
          
          const item = jsonResult["data"][0]["cart"];
          let totalItem = 0;
          let isNewProduct = true;
          if(item !== 'error'){
              for(let i = 0 ; i < item.length ; i++){
                  let { productName, productPrice, qty } = item[i];
                  console.log(`items ${i}`, item[i]);
                  if(productName === prodName)
                  {
                      item[i].qty += 1;
                      isNewProduct = false;
                      qty += 1;
                  }
                  totalItem += qty;
              }
              if(isNewProduct && prodName){
                  item.push({ "productName" : prodName, "productPrice" : prodPrice, "qty" : 1 });
                  totalItem += 1;
              }
              console.log('Items : ' ,JSON.stringify(item));
              if (prodName) {
                  const fetchResult = await fetch("http://localhost:9500/myCart", {
                    'method' : 'PUT',
                    'body' : JSON.stringify({ "_id" : _id, "cart" : item }),
                    headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json'
                    }
                  });
                  const jsonResult = await fetchResult.json();
                  console.log(jsonResult);
              }

              cartCount.innerText = totalItem;
              
          }
      }
      addToCart()
      
      // async function app()
      // {
      //   const q = await fetch("http://localhost:9500/items");
      //   const j = await q.json();
      //   console.log(j);
      //   let products = j["product"];
        
        
      //   for(let i = 0 ; i < products.length ; i++){
      //       if (products[i].encoded) {
      //           products[i].img = 'data:image/png;base64,'+products[i].img
      //       }
      //    }
      //   // document.getElementById("component")
      //   document.getElementById("component").innerHTML = component;
      // }
      // app()

      // async function loadCart() {
      //     const fetchResult = await fetch(`http://localhost:9500/myCart?_id=${_id}`);
      //     const jsonResult = await fetchResult.json();
      //     const item = jsonResult["data"];
      //     let totalQty = 0;
      //     if(item !== 'error'){
      //         item.forEach(element => {
      //             totalQty += element.qty;
      //         });
      //     }
      //     cartCount.innerText = totalQty;
      // }

      // loadCart();

  </script>
</html>
