* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
}
body {
  color: var(--text-color);
}
.Search {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
section {
  padding: 4rem 0 3rem;
}
.section-title {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
img {
  width: 100%;
}
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  gap: 1.5rem;
}
.product-box {
  position: relative;
  transform: scale(0.9);
}
.product-box:hover {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: 0.5s;
}
.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem;
}
.price {
  font-weight: 500;
  padding: 1rem;
}
.add-cart {
  position: absolute;
  cursor: pointer;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  background: #c1c1c1;
}
.add-cart:hover {
  background: wheat;
}
.search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
}
.search_box input {
  border-color: #171427;
  border-radius: 5px;
  outline: black;
  background: white;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  float: center;
  width: 350px;
}
.search_box span {
  color: #0a5071;
  font-size: 20px;
  border-radius: 3px;
  background-color: white;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.cart-page {
  margin-left: 50%;
}
